<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../../../assets/images/IES-logo.svg" width="30" height="30" alt="">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Bienvenida <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['conversion']">Conversiones</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['fecha']">Calcula-Fecha</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['formulario']">Formulario</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning my-2 my-sm-0" (click)="onLogout()">Cerrar Sesión</button>
      </div>
    </div>
  </nav>